:root {
  --primary-color: #ec167e;
  --secondary-color: #ffeef6;
  --secondary-color-op: rgba(255, 255, 255, 0.8);
  --tertiary-color: #7C318F;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Montez', cursive;
  --menu-speed: 0.75s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.bg-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.bg-light {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.l-txt {
  font-size: 3rem;
}

.m-txt {
  font-size: 2rem;
}

.p-1 { padding: 1.5rem; }

.p-2 { padding: 2rem; }

.p-3 { padding: 3rem; }

.py-1 { padding: 1.5rem 0; }

.py-2 { padding: 2rem 0; }

.py-3 { padding: 3rem 0; }

/* Main Header Styles */
/* Main Navigation Bar of the page */
#navbar {
  display: flex;
  position: relative;
  background: var(--secondary-color);
  color: var(--primary-color);
  top: 0;
  left: 0;
  height: 6rem;
  width: 100vw;
  justify-content: space-between;
  z-index: 1;
  opacity: 0.9;
  border-bottom: 2px var(--tertiary-color) solid;
}

#navbar .logo {
  display: flex;
  align-items: center;
}

#navbar .logo #logoimg {
  height: 5.5rem;
}

#navbar .logo #logotxt {
  padding-left: 2rem;
  font-size: 2rem;
}

#navbar .logo #logomini {
  display: none;
}

#navbar .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  padding-right: 2rem;
} 

#navbar .nav-btn {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 3.4rem;
  padding: 0.75rem;
  margin: 0 0.25rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}

#navbar .nav-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

#navbar .menu-wrap {
  display: none;
}

/* Showcase Styles */
#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color) url('/img/madeira-floral-m.png') no-repeat center center/cover;
  color: var(--primary-color);
  position: relative;
  height: 30rem;
  border-bottom: 2px var(--tertiary-color) solid;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  /* Overlay */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--secondary-color-op);
}

#showcase .showcase-heading {
  font-family: var(--primary-font);
  font-size: 4rem;
  color: var(--tertiary-color);
  width: 60vw;;
  padding-bottom: 3rem;
}

#showcase .showcase-txt {
  margin-bottom: 1rem;
  width: 60vw;
  color: var(--tertiary-color);
}

.left-arrow {
  position: absolute;
  top: 135px;
  left: 10px;
}

.fa-angle-left {
  color: var(--tertiary-color);
  font-size: 2rem;
  background: var(--secondary-color);
  border-radius: 50%;
  opacity: 0.5;
  padding: 0.4rem 0.9rem;
  border: 2px solid var(--tertiary-color);
}

.right-arrow {
  position: absolute;
  top: 135px;
  right: 10px;
}

.fa-angle-right {
  color: var(--tertiary-color);
  font-size: 2rem;
  background: var(--secondary-color);
  border-radius: 50%;
  opacity: 0.5;
  padding:  0.4rem 0.9rem;
  border: 2px solid var(--tertiary-color);
}

#showcase .showcase-content .btn {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 5px;
  transition: all 0.4s ease;
  border: 2px solid var(--primary-color);
}

#showcase .showcase-content .btn:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
}


/* Serviços Styles */
#servicos h2 {
  font-family: var(--secondary-font);
  padding-top: 1rem;
}

#servicos .items {
  display: flex;
  
}

#servicos .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
  border-right: 3px solid var(--secondary-color);
}

#servicos .items .item:last-child {
  border-right: none;
}

#servicos .items img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#servicos .items .item h3 {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--secondary-color);
}

#servicos .items .item p {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
}

/* Sessão: Localização */
#localizacao {
  display: flex;
  flex-direction: column;
}

#localizacao h2 {
  margin-bottom: 0;
  padding: 1rem 0;
  font-family: var(--secondary-font);
}

#localizacao #local-container {
  display: flex;
  height: 48rem;
}

#localizacao #local-container #fachada {
  background: url(../img/vista-fachada.jpg) no-repeat center center/cover;
  margin: 0;
  width: 100%;
}

#localizacao #local-container #mapa,
#localizacao #local-container #fachada {
  flex-basis: 50%;
}

/* Media Queries */
@media(max-width: 900px) {
  #navbar {
    justify-content: space-between;
  }
  
  #navbar .logo #logoimg {
    height: 4.5rem;
    width: 4.5rem;
  }
  
  #navbar .logo #logotxt {
    padding-left: 2rem;
    font-size: 3rem;
  }
  
  #navbar .nav-btn {
    font-size: 2.4rem;
  }

  #showcase .showcase-heading {
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }

  #showcase .showcase-txt {
    font-size: 1.8rem;
  }

  #local-container {
    width: 100vw;
 }
}

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
    height: 24rem;
    width: 100vw;
    overflow-y: hidden;
  }

  #navbar .nav-menu {
    display: none;
  }

  #navbar .menu-wrap {
    display: block;
  }
  
  #navbar .logo #logotxt {
    display: none;
  }

  #navbar .logo #logoimg {
    display: none;
    
  }
  
  #navbar .logo #logomini {
    display: block;
    font-size: 2rem;
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
  }

  #showcase .showcase-heading {
    font-size: 3rem;
  }

  #showcase .showcase-txt {
    font-size: 1.4rem;
  }
  
  #servicos .items {
    display: block;
    padding: 1rem;
  }

  #servicos .items .item {
    border-right: none;
    border-bottom: 3px solid var(--secondary-color); 
  }

  #servicos .items .item:last-child {
    border-bottom: none;
  }

  #localizacao #local-container #fachada {
    display: none;
  }

  #localizacao #local-container #mapa {
    flex-basis: 100%;
  }
}
